@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 50%;

	@include responsive(tablet_l) {
		font-size: 45%;
	}

	@include responsive(tablet_p) {
		font-size: 40%;
	}

	@include responsive(phone) {
		font-size: 40%;
	}
}

body {
	font-family: 'Sora', sans-serif;
	background-color: $color-background;
}

a,
a:link,
a:hover,
a:visited {
	text-decoration: none;
	color: $color-text-primary;
}

section {
	padding: 0 20rem;

	@include responsive(tablet_l) {
		padding: 0 15rem;
	}

	@include responsive(tablet_p) {
		padding: 0 7.5rem;
	}

	@include responsive(phone) {
		padding: 0 3rem;
	}
}

input {
	font-size: 2.4rem;
	padding: 3.5rem 3rem;
	width: 100%;

	box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
	border-radius: 4rem;
	border: none;

	&::placeholder {
		font-style: italic;
	}
}

ul {
	list-style: none;
	padding: 0;
}
