// -- COLORS -- //

// @background
$color-background: #b7d4d8;

// @surface
$color-surface-primary: #ffffff;

// @text
$color-text-primary: #000000;
$color-text-secondary: #555353;

// @accent
$color-accent-primary: #65c5d2;
$color-accent-secondary: #b7d4d8;
$color-accent-placeholder: #313131;

// @errors
$color-surface-error: #ff938b;
$color-text-error: #c93b37;

// @success
$color-surface-success: #8ddb8c;
$color-text-success: #347d39;

// @border
$color-border-primary: #383838;

// -- FONTS -- //

// @font-weigths
$regular: 400;
$medium: 500;
$semibold: 600;

// -- BORDER -- //

// @radius
$border-radius-small: 1.5rem;
$border-radius-normal: 2rem;
$border-radius-medium: 2.5rem;
$border-radius-large: 3rem;
