.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 2.4rem;
	padding: 6rem 20rem;

	@include responsive(tablet_l) {
		padding: 6rem 15rem;
	}

	@include responsive(tablet_p) {
		padding: 6rem 7.5rem;
	}

	@include responsive(phone) {
		padding: 3rem 3rem;
	}

	.app_logo {
		@include responsive(phone) {
			width: 15rem;
		}
	}

	.hamburger {
		display: none;

		@include responsive(phone) {
			display: block;
			width: 6rem;
		}
	}

	.default-nav-links,
	.social-nav-links {
		display: flex;
		align-items: center;
		gap: 3rem;

		img {
			width: 4rem;
		}

		@include responsive(phone) {
			display: none;
		}
	}
}

.mobile-nav {
	display: none;

	@include responsive(phone) {
		display: block;

		position: fixed;
		left: 0;
		top: 0;
		padding: 4rem;
		width: 100vw;
		height: 100vh;
		background-color: $color-background;
		z-index: 2;

		display: flex;
		flex-direction: column;

		& > a:not(:first-of-type) {
			margin-top: 2rem;
		}

		&__cancel-img {
			width: 7rem;
			margin-bottom: 4rem;
			padding: 0;
			cursor: pointer;

			-webkit-filter: invert(100%);
			filter: invert(100%);
		}
	}
}

.navbar-secondary {
	display: none;

	@include responsive(phone) {
		display: block;
		position: fixed;
		bottom: 3rem;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		border-radius: 4rem;
		padding: 1rem;

		background-color: $color-background;
		border: thin solid;
		display: flex;
		align-items: center;
		gap: 1rem;

		box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);

		.btn-secondary {
			background-color: transparent;
			line-height: 0;
		}

		.active {
			font-weight: 700;

			img {
				filter: invert(100%);
			}
		}
	}
}
