.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	font-size: 2.4rem;
	padding: 6rem 20rem;

	@include responsive(tablet_l) {
		padding: 6rem 15rem;
	}

	@include responsive(tablet_p) {
		padding: 6rem 7.5rem;
	}

	@include responsive(phone) {
		padding: 3rem 3rem;
	}

	.app_logo {
		@include responsive(phone) {
			width: 15rem;
		}
	}

	.hamburger_icon {
		display: none;

		@include responsive(phone) {
			display: block;
			width: 6rem;
		}
	}

	.default-nav-links,
	.social-nav-links {
		display: flex;
		align-items: center;
		gap: 3rem;

		img {
			width: 4rem;
		}

		@include responsive(phone) {
			display: none;
		}
	}
}

.mobile-nav {
	position: fixed;
	left: 0;
	padding: 4rem;
	width: 100vw;
	height: 100vh;
	top: 0;
	background-color: $color-background;
	z-index: 2;
}

.mobile-nav-links {
	display: inline-block;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.mobile-nav-cancel-img {
	max-width: 5.2rem;
	margin-bottom: 2.5rem;
	padding: 0;
	cursor: pointer;
}

.navbar-secondary {
	display: none;

	@include responsive(phone) {
		display: block;
		position: fixed;
		bottom: 3rem;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
		border-radius: 4rem;
		padding: 1rem;

		background-color: $color-background;
		border: thin solid;
		display: flex;
		align-items: center;
		gap: 1rem;

		box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);

		.btn-secondary {
			background-color: transparent;
			line-height: 0;
		}

		img {
			width: 8rem;
			height: auto;
		}

		.active {
			font-weight: 700;

			img {
				filter: invert(100%);
			}
		}
	}
}
