@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 50%; }
  @media screen and (max-width: 67.5em) {
    html {
      font-size: 45%; } }
  @media screen and (max-width: 56.25em) {
    html {
      font-size: 40%; } }
  @media screen and (max-width: 45em) {
    html {
      font-size: 40%; } }

body {
  font-family: 'Sora', sans-serif;
  background-color: #b7d4d8; }

a,
a:link,
a:hover,
a:visited {
  text-decoration: none;
  color: #000000; }

section {
  padding: 0 20rem; }
  @media screen and (max-width: 67.5em) {
    section {
      padding: 0 15rem; } }
  @media screen and (max-width: 56.25em) {
    section {
      padding: 0 7.5rem; } }
  @media screen and (max-width: 45em) {
    section {
      padding: 0 3rem; } }

input {
  font-size: 2.4rem;
  padding: 3.5rem 3rem;
  width: 100%;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
  border-radius: 4rem;
  border: none; }
  input::placeholder {
    font-style: italic; }

ul {
  list-style: none;
  padding: 0; }

.text-small-R {
  font-size: 1.6rem;
  font-weight: 400; }

h2 {
  font-size: 9.6rem;
  font-weight: 700; }

h4 {
  font-size: 3.2rem;
  font-weight: 600; }

h6 {
  font-size: 1.6rem;
  font-weight: 600; }

.section-header {
  margin-bottom: 6rem; }
  @media screen and (max-width: 45em) {
    .section-header {
      margin-bottom: 2rem; } }

.text-secondary {
  color: #555353; }

.active {
  font-weight: 700; }

.horizontal-bar {
  width: 15%;
  height: 0.8rem;
  border-radius: 5rem;
  background-color: #b7d4d8; }

.btn {
  border: none;
  cursor: pointer;
  background-color: #fff; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  padding: 6rem 20rem; }
  @media screen and (max-width: 67.5em) {
    .navbar {
      padding: 6rem 15rem; } }
  @media screen and (max-width: 56.25em) {
    .navbar {
      padding: 6rem 7.5rem; } }
  @media screen and (max-width: 45em) {
    .navbar {
      padding: 3rem 3rem; } }
  @media screen and (max-width: 45em) {
    .navbar .app_logo {
      width: 15rem; } }
  @media screen and (max-width: 45em) {
    .navbar .hamburger_icon {
      display: block;
      width: 6rem; } }
  .navbar .default-nav-links {
    display: flex;
    gap: 4rem; }
    @media screen and (max-width: 45em) {
      .navbar .default-nav-links {
        display: none; } }

.mobile-nav {
  position: fixed;
  left: 0;
  padding: 4rem;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #b7d4d8;
  z-index: 2; }

.mobile-nav-links {
  display: inline-block;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  text-decoration: none;
  color: white; }

.mobile-nav-cancel-img {
  max-width: 5.2rem;
  margin-bottom: 2.5rem;
  padding: 0;
  cursor: pointer; }

.stories__search-form {
  position: relative; }
  .stories__search-form .input-btn-cancel {
    position: absolute;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;
    border-radius: 4rem; }
  .stories__search-form img {
    width: 8rem;
    height: auto; }

.stories__search-results {
  margin-top: 6rem;
  font-size: 3.2rem; }
  .stories__search-results span {
    font-weight: 700; }

.stories-collection {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 3rem;
  margin: 8rem 0; }
  @media screen and (max-width: 45em) {
    .stories-collection {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 3rem;
      margin: 6rem 0; } }

.story-card {
  padding: 2rem;
  border-radius: 5rem;
  background-color: #ffffff;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2); }
  .story-card__image {
    height: 35rem;
    border-radius: 4.5rem;
    background-color: #313131; }
    @media screen and (max-width: 45em) {
      .story-card__image {
        height: 25rem; } }
  .story-card__details {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.6rem;
    padding: 3rem 2rem 2rem; }
    .story-card__details__category {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex: 0 0 auto; }
    .story-card__details__tags-p-like {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 4rem; }
      .story-card__details__tags-p-like img {
        width: 6rem;
        height: auto; }
      .story-card__details__tags-p-like .tags-collection {
        display: flex;
        gap: 2rem; }
  .story-card__tag {
    font-size: 1.6rem;
    padding: 1.7rem 2.8rem;
    border: 0.2rem solid;
    border-radius: 10rem; }
